In [3]:
import numpy as np
import pandas as pd

import pickle

In [4]:
## load the HOMFLYPT data
homfly_df = pd.read_csv('data/HomflyPt_upto_15_MIRRORS.csv')
homfly_df

,knot_id,number_of_crossings,table_number,is_alternating,signature,s_invariant,a18_z0,a18_z2,a18_z4,a18_z6,...,a-16_z12,a-16_z14,a-18_z0,a-18_z2,a-18_z4,a-18_z6,a-18_z8,a-18_z10,a-18_z12,a-18_z14
0,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0!,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3,1,1,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1!,3,1,1,-2,-2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,4,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626457,313228!,15,253291,0,-6,-8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626458,313229,15,253292,0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626459,313229!,15,253292,0,-2,-2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626460,313230,15,253293,0,4,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626461,313230!,15,253293,0,-4,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
MOBM = 'NA_50_40' # the id of the MoBM we are interested in

In [12]:
# load the MoBM graph
with open('pkl/mobm_{}.pkl'.format(MOBM), "rb") as f:
    G = pickle.load(f)

print('{} nodes loaded'.format(len(G.nodes)))

275 nodes loaded

In [13]:
# load the nodes that were selected in the GUI
with open('pkl/mobm_{}_selected_nodes.pkl'.format(MOBM), "rb") as f:
    selected_nodes = pickle.load(f)

print(len(selected_nodes))

6

In [14]:
# get the list of points covered by the selected nodes
points_id = list(set([p for node in selected_nodes for p in G.nodes[node]['points_covered']]))
len(points_id)

84

In [15]:
# slice through the df
subset_df = homfly_df.iloc[points_id].copy()

In [83]:
homfly_df.iloc[points_id].signature.value_counts()

signature
-4    2446
-2      71
Name: count, dtype: int64

In [84]:
homfly_df.iloc[points_id].s_invariant.value_counts()

s_invariant
-4    2517
Name: count, dtype: int64

In [87]:
## lets look into those 71 knots
subset_df[subset_df.signature==-2]

,knot_id,number_of_crossings,table_number,is_alternating,signature,s_invariant,a18_z0,a18_z2,a18_z4,a18_z6,...,a-16_z12,a-16_z14,a-18_z0,a-18_z2,a-18_z4,a-18_z6,a-18_z8,a-18_z10,a-18_z12,a-18_z14
450921,225460!,15,165523,0,-2,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
533117,266558!,15,206621,0,-2,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
533345,266672!,15,206735,0,-2,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
533403,266701!,15,206764,0,-2,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
452341,226170!,15,166233,0,-2,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376023,188011!,15,128074,0,-2,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
531981,265990!,15,206053,0,-2,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
532119,266059!,15,206122,0,-2,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
622267,311133!,15,251196,0,-2,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
532339,266169!,15,206232,0,-2,-4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0